
<% form_tag session_path, :class => 'uniForm' do %>
	<fieldset class='inlineLabels'>
		<legend>Login</legend>
		<div class="ctrlHolder">
		  <%= label_tag 'login', 'Username' %>
			<%= text_field_tag 'login', @login %>
		</div>
		<div class="ctrlHolder">
		  <%= label_tag 'password' %>
			<%= password_field_tag 'password', nil %>
    </div>
    <div class="ctrlHolder">
      <%= label_tag 'remember_me', 'Remember me' %>
			<%= check_box_tag 'remember_me', '1', @remember_me %>
    </div>
	</fieldset>
	<fieldset class='inlineLabels'>
		<legend>Login with OpenID</legend>
    <div class="ctrlHolder">
				<%= label_tag 'openid_url', 'OpenID URL' %>
				<%= text_field_tag 'openid_url' %>
    </div>
	</fieldset>
	<div class="buttonHolder">
		<%= link_to 'Forgotten Password', forgot_password_path, :style => "float: left" %>

		<%= submit_tag 'Login' %>
	</div>
<% end -%>
