<div id="cart">
  <p>Your Shopping Cart</p>
  <table style="border-width:2px; border-style:dotted; border-spacing: 5px;">
    <tr>
      <th>Description</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Total Cost</th>
    </tr>
    <% if !@cart.cart_items.empty? %>
      <% for cart_item in @cart.cart_items %>
    <tr>
      <td><%= h(cart_item.description) %></td>
      <td><%= h(cart_item.unit_price_in_cents) %></td>
      <td><%= h(cart_item.quantity) %> <%= h(cart_item.quantity_unit) %></td>
      <td><%= h(cart_item.unit_price_in_cents * cart_item.quantity) %></td>
    </tr>
      <% end %>
    <% else %>
    <tr style="border:2px; border-style:dotted;">
      <td colspan="4">Your cart is empty.</td>
    </tr>
    <% end %>
    
  </table>
</div>