<div id="cart">
  <%= image_tag 'cart/Shoppingcart_48x48.png', :style => "float:right; margin-top: -10px;"%>
  <h1>Shopping Cart</h1>
  <table>
    <tr>
      <th>Item</th>
      <th>Quantity</th>
      <th>Remove</th>
      <th>Price</th>

    </tr>

      <% for cart_item in @cart.cart_items %>
    <tr>
      <td>
        <% line_width = 40 %>
        <%= simple_format(word_wrap(h(cart_item.name) , :line_width => line_width )) %><br>
        <%# TODO get this working if cart item descriptions are needed
        #- unless cart_item.product.kind == "addon" -%>
          <%#= simple_format(word_wrap(h(cart_item.description), :line_width => line_width )) %>
        <%#- end -%>
      </td>
      <td><%= h(cart_item.quantity) %> <%= h(cart_item.quantity_unit) %></td>
      <td><%= link_to_remote "Remove", :url => {:controller => "cart", :action => :remove_cart_item, :id => cart_item.id}%></td>

      <td><%= number_to_currency(cart_item.unit_price * cart_item.quantity) %></td>
    </tr>
      <% end %>
      <tr>
        <td colspan="3">Total: </td>
        <td><%= number_to_currency( @cart.total_price ) %></td>
      </tr>
  </table>
</div>