<div id="cart">
  <%= image_tag 'cart/Shoppingcart_48x48.png', :style => "float:right; margin-top: -10px;"%>
  <h1>Shopping Cart</h1>
  <table>
    <tr>
      <th>Item</th>
      <th>Remove</th>
      <th>Price</th>
    </tr>
      <% for cart_item in @cart.cart_items.find(:all,:conditions => ["parent_id IS NULL"]) %>
    <tr>
      <td>
        <% line_width = 40 %>
        <%= link_to simple_format(word_wrap(h(cart_item.name) , :line_width => line_width )), {:controller => 'green_hosting_store', :action => 'edit_hosting', :id => cart_item.id} %>
        <%# TODO get this working if cart item descriptions are needed
        #- unless cart_item.product.kind == "addon" -%>
          <%#= simple_format(word_wrap(h(cart_item.description), :line_width => line_width )) %>
        <%#- end -%>
      </td>
      <td><%= link_to_remote "Remove", :url => {:controller => "cart", :action => :remove_cart_item, :id => cart_item.id} %></td>

      <td><%= number_to_currency(cart_item.unit_price * cart_item.quantity) %></td>
    </tr>
        <% for child_item in cart_item.children %>
          <tr>
            <td style='padding-left: 30px' colspan='2'>
                <%= simple_format(word_wrap(h(child_item.name) , :line_width => 40 )) %>
            </td>
            
            <td><%= number_to_currency(child_item.unit_price * child_item.quantity) %></td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td colspan="2">Total: </td>
        <td><%= number_to_currency( @cart.total_price ) %></td>
      </tr>
  </table>
</div>