<% content_for :head do %> 
  <%= auto_discovery_link_tag( :rss ) %> 
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => 'shared/search_form' %>
	<%= render :partial => 'shared/top_tags' %>
	<% if @kb then %>
	<%= render :partial => 'shared/common_fixes' %>
	<% end %>
<% end %>
<% #if referrer is knowledgebase - print kb instead %>
<h2>Sustainable Websites
<% if @kb then %>
	Knowledgebase
<% else  %>
	Blog
<% end %>
</h2>
<% if @articles.empty? %>
	<p>Sorry, there were no results for the search <strong><%= params[:search] ||= "you did" %></strong>.</p>
	<p>Try browsing via <%= link_to "tags", tags_url %>, or try your search again on the right.</p>
<% else %>
	<%= will_paginate @articles %>
	<%= render :partial => 'shared/article_index', :locals => { :articles => @articles } %>
	<%= will_paginate @articles %>
<% end %> 