<% use_tinymce -%>
<h2>Create Article</h2> 
<%= error_messages_for :article %>
<% form_for :article, 
            :url => articles_url, 
            :html => { :method => :post } do |f| -%> 
  <p>Title:<br /><%= f.text_field :title, :size => 60 %></p> 
  <p>Permalink:<br /><%= f.text_field :permalink, :size => 60 %></p> 
  <p>Synopsis:<br /><%= f.text_area :synopsis, :rows => 4, :cols => 60 %></p> 
  <p>Body: <%= link_to_function "Toggle editor", "toggleEditor('article_body');"%>
    <br /><%= f.text_area :body, :rows => 20, :cols => 60, :class => "mce-editor" %></p> 
  <p>Category:<br /> 
    <%= f.collection_select :category_id, Category.find(:all), :id, :name %></p> 
  <p>Published? <%= f.check_box :published %></p> 
  <p>Comments enabled? <%= f.check_box :comments_enabled %></p>
  <p>Tags (separate with commas): <%= f.text_field :tag_list %></p>
  <%= submit_tag 'Save' %> or <%= link_to 'cancel', articles_url %> 
<% end -%>