<% @page_title = @article.title unless @article.nil? %>

<h2><%= @article.title %></h2> 
<div class="spiffy-wrap">
  <b class="spiffy">
  <b class="spiffy1"><b></b></b>
  <b class="spiffy2"><b></b></b>
  <b class="spiffy3"></b>
  <b class="spiffy4"></b>
  <b class="spiffy5"></b></b>

  <div class="spiffyfg">
<div class="synopsis"><%= @article.synopsis %></div>
  </div>

  <b class="spiffy">
  <b class="spiffy5"></b>
  <b class="spiffy4"></b>
  <b class="spiffy3"></b>
  <b class="spiffy2"><b></b></b>
  <b class="spiffy1"><b></b></b></b>
</div>

<div id="article_body"><%= @article.body %></div> 
<div id="spacer"> </div>

<% if @article.category %> 
  <p class="category">Category:
	 <%= link_to @article.category.name, category_articles_path(@article.category), :rel => 'tag' %> 
  </p> 
<% end %>

<div id="tags">Tags: 
	<% @article.tag_list.each do |tag| %>
		<%= link_to tag,tag_path(tag), :rel => 'tag' %>
	<% end %>
</div> 

<p>Created on: <%= @article.created_at.to_date.to_formatted_s(:long_ordinal) %></p>

<%= link_to( "edit article", edit_article_path(@article.id)) if logged_in? and current_user.has_role?('administrator') %>


<%= content_tag(:h2,'Comments') if @article.comments.count > 0 %>
<% if @article.comments_enabled %>
  <div id="comments">
    <% @article.comments.each do |comment|%>
      <%= render :partial => "comments/comment", :locals => {:comment => comment } %>           
    <% end %>
  </div>

  <% uni_remote_form_for :comment, :url => {:controller => "comments", :action => "create"} do |form| %>
    <%= uniform_success_message flash[:notice] if flash[:notice] %>
    
    <% form.fieldset :type => "inline", :legend => "leave a comment" do %>
      <%= form.text_field :name %>
      <%= form.text_field :email, :label => "Email (not published)", :required => true%>
      <%= form.text_field :web_site, :label => "Website" %>
      <%= form.text_area "comment", :required => true %>
      <%= hidden_field_tag :commentable_id, @article.id  %>
      <%= hidden_field_tag :commentable_type, "article" %>
      <%= form.submit "Add Comment"%>
    <% end %>
  <% end %>
<% end %>
<p><%= link_to 'Back to article list', articles_url %></p> 
