<% unless @ordered.empty? %>
  <h2>List of New Hostings</h2>

  <%= form_tag :action => 'provision'%>
  <% if @server %>
  Add Hosting to Server <%= select_tag :server, options_from_collection_for_select( Server.all, :id, :select_description, @server)%>
  <% end %>

  <% render :partial => 'server_details'%>

  <table class='model_table' id='hosting_table' style='font-size: 90%'>
    <tr>
      <th style='text-align: right'><%= check_box_tag 'select_all_hosting' %>
        <%= observe_field 'select_all_hosting',  :function => "bxs = jQuery('#hosting_table input::checkbox'); value = !jQuery(bxs[1]).is(':checked'); bxs.attr('checked',value);" %>
      </th>
      <th>Name</th>
      <th>Purchase Date</th>
      <th>Account</th>
      <th>Status</th>
    </tr>
  <% @ordered.each do |hosting| %>
    <tr class='<%= cycle("odd","even")%>'>  
      <td width='22px'><%= check_box_tag "hosting[#{hosting.id}]" %></td>
      <td style='text-align: left'><%= hosting.product.name if hosting.product %></td>
      <td><%= hosting.created_at.to_formatted_s :human_date %></td>
      <td><%= link_to hosting.account.organization, hosting.account %></td>
      <td><%= hosting.state.capitalize %></td>
    </tr>  
  <% end %>
  </table>
  <%= submit_tag "Provision"%>
</form>
<% else %>
  <div class='message'>
    All Hosting is provisioned.  
  </div>
<% end %>
<div style='clear: left'></div>
<% unless @due.empty? %>
  <h2>Due Accounts</h2>
  This will be charged today.  
  <table class='model_table' style='font-size: 90%'>
    <tr>
      <th>Name</th>
      <th>Balance Due</th>
      
    </tr>
  <% @due.each do |account| %>
    <tr class='<%= cycle("odd","even")%>'>  
      <td style='text-align: left'><%= account.organization %></td>
      <td><%= -account.balance %></td>
    </tr>  
  <% end %>
  </table>
</form>
<% else %>
<div class='message'>
  No accounts are due today.  
</div>
<% end %>
<div style='clear: left'></div>

<% unless @overdue.empty? %>
<br/>
  <h2>Overdue Accounts</h2>
  <table class='model_table' id="account_table" style='font-size: 90%'>
    <tr>
      <th style='text-align: right'><%= check_box_tag 'select_all_accounts' %>
        <%= observe_field 'select_all_accounts',  :function => "bxs = jQuery('#account_table input::checkbox'); value = !jQuery(bxs[1]).is(':checked'); bxs.attr('checked',value);" %>
      </th>
      <th>Name</th>
      <th>Balance Due</th>
      <th>Due Date</th>
      <th>State</th>
    </tr>
  <% @overdue.each do |account| %>
    <tr class='<%= cycle("odd","even")%>'>  
      <td  width='22px'><%= check_box_tag "account[#{account.id}]" %></td>
      <td style='text-align: left'><%= account.organization %></td>
      <td><%= number_to_currency -account.balance %></td>
      <td><%= account.next_payment_on.to_formatted_s :human_date %></td>
      <td><%= account.state.capitalize %></td>
      
    </tr>  
  <% end %>
  </table>
  <%= submit_tag "Suspend" %>
</form>
<% else %>
<div class='message'>
  No accounts are past due.  
</div>
<% end %>

<% unless @domains.empty? %>
  <h2>List of New Domains</h2>
  
  <%= form_tag :action => 'approve'%>
  <table class='model_table' id='domain_table' style='font-size: 90%'>
    <tr>
      <th style='text-align: right'><%= check_box_tag 'select_all_domains' %>
        <%= observe_field 'select_all_domains',  :function => "bxs = jQuery('#domain_table input::checkbox'); value = !jQuery(bxs[1]).is(':checked'); bxs.attr('checked',value);" %>
      </th>
      
      <th>Name</th>
      <th>Purchase Date</th>
      <th>Account</th>
      <th>Status</th>
    </tr>
  <% @domains.each do |domain| %>
    <tr class='<%= cycle("odd","even")%>'>  
      <td width='22px'><%= check_box_tag "domain[#{domain.id}]" %></td>
      <td style='text-align: left'><%= domain.name %></td>
      <td><%= domain.created_at.to_formatted_s :human_date %></td>
      <td><%= link_to domain.account.organization, domain.account if domain.account %></td>
      <td><%= domain.state.capitalize %></td>
    </tr>  
  <% end %>
  </table>
  <%= submit_tag "Purchase"%>
</form>
<% else %>
  <div class='message'>
    No new domains.  
  </div>
<% end %>
<div style='clear: left'></div>

<% unless @add_ons.empty? %>
  <h2>List of New Add Ons</h2>
  
  <%= form_tag :action => 'complete'%>
  <table class='model_table' id='add_on_table' style='font-size: 90%'>
    <tr>
      <th style='text-align: right'><%= check_box_tag 'select_all_add_ons' %>
        <%= observe_field 'select_all_add_ons',  :function => "bxs = jQuery('#add_on_table input::checkbox'); value = !jQuery(bxs[1]).is(':checked'); bxs.attr('checked',value);" %>
      </th>
      
      <th>Name</th>
      <th>Purchase Date</th>
      <th>Account</th>
      <th>Status</th>
    </tr>
  <% @add_ons.each do |add_on| %>
    <tr class='<%= cycle("odd","even")%>'>  
      <td  width='22px'><%= check_box_tag "add_on[#{add_on.id}]" %></td>
      <td style='text-align: left'><%= add_on.product.name %></td>
      <td><%= add_on.created_at.to_formatted_s :human_date %></td>
      <td><%= link_to add_on.account.organization, add_on.account if add_on.account %></td>
      <td><%= add_on.state.capitalize %></td>
    </tr>  
  <% end %>
  </table>
  <%= submit_tag "Mark Completed"%>
</form>
<% else %>
  <div class='message'>
    No new add ons.  
  </div>
<% end %>