<h1>Hostings</h1>


<table class='model_table'>
  <tr>
    <th>
      User
    </th>
    <th></th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>



<% @server.hostings.each do |hosting| %>
  <% @hosting = hosting %>
  <tr class='<%= cycle('odd','even')%>'>
    <td><%= hosting.username %></td>
    <td><%= 
      account = @accounts.find { |account| account.user == hosting.username}
      if account
        @accounts.delete(account)
        debug account
      else
        "Account does not exist"
      end
       %></td>
    <td>
      <%= select :"hosting[]", :state, Hosting.aasm_states_for_select %>
      <%= observe_field "hosting_#{hosting.id}_state", :url => hosting_path(hosting), :with => 'hosting[state]', :method => :put %>
    </td>
    <td><%= link_to 'Show', hosting_path(hosting) %></td>

    <td><%= link_to 'Destroy', hosting_path(hosting), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% unless @accounts.empty? %>
<tr class='important'>
  <td colspan='5' style='text-align:left'>
    These sites are not managed.  
  </td>
</tr>
<% end %>
<% @accounts.each do |account| %>
  <tr class='<%= cycle('odd','even')%>'>
    <td><%= account.user %></td>
    <td><%= debug account %></td>
    <td></td>
    <td></td>
    <td><%= link_to 'Destroy', {:controller => :servers, :action => :delete_unmanaged, :id => @server, :account => account.user}, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>

<% end %>
</table>

<%= button 'Back', servers_path %>