<% content_for :head do %> 
  <%= auto_discovery_link_tag %> 
<% end %>

<% content_for :sidebar do %>
	<%= render :partial => 'shared/search_form' %>
<% end %>

<h2>Articles tagged with: <%= link_to @tag.name, tag_url(@tag.name) %></h2> 
<%= link_to "view all tags", tags_url %>
<% if logged_in_user and logged_in_user.has_role?('Administrator') %> 
	<%= link_to "edit tag description", edit_tag_path(@tag) %>
<% end %>

<div id="tag_description"><%= @tag.description %></div>

<%= render :partial => 'shared/article_index', :locals => { :articles => @articles } %>