<%= render :partial => 'navigation'%>

<h2>Credit Card</h2>
<% uni_form_for :account, :url => {:action => 'update', :id => @account} do |f| %>
  <% f.fieldset :type => "inline" do %>
  
  <%= f.text_field :first_name %>
  <%= f.text_field :last_name %>
  
  <label>Card Number</label>
  <%= text_field :creditcard, :number, :size => 20 %>
  <label>Type</label>
  <%= select :creditcard, :type, [['Visa', 'visa'], ['MasterCard', 'master'], ['American Express', 'american_express']] %>
  <label>Expiration</label>
  <%= select :creditcard, :month, (1 .. 12) %>
  <%= select :creditcard, :year, (Time.now.year .. 10.years.from_now.year) %>
  <label>CVV</label>
  <%= text_field :creditcard, :verification_value, :size => 4 %>
  <%= image_tag('cvv.gif', :size => '51x31', :align => 'top') %>
  <label>Address</label>
  <%= text_field :address, :address1 %><br/>
  <%= text_field :address, :address2 %>
  <label>City</label>
  <%= text_field :address, :city %>
  <label>State</label>
  <%= text_field :address, :state %>
  <label>Zip</label>
  <%= text_field :address, :zip %>
  <label>Country</label>
  <%= country_select :address, :country, ['United States', 'Canada'] %>
  <label>Phone</label>
  <%= text_field :address ,:phone %>
  
  <%= f.submit "Update"%>
  <% end %>
<% end %>
