
<div id="setting_tabs" style="display:none">
  <ul>
    <li><%= link_to "Contact", "#contact_tab" %></li>
    <li><%= link_to "Billing", "#billing_tab" %></li>
    <li><%= link_to "Users", "#users_tab" %></li>
  </ul>
  <div id="contact_tab">
    <%= error_messages_for [:account] %>
    
    <% z_form_for :account, :url => {:action => 'update', :id => @account} do |f| %>
      <% f.fieldset :type => "inline" do %>

      <%= f.text_field :organization %>
      <%= f.text_field:phone %>
      <%= f.text_field :email %>
      <% f.fields_for :address_attributes, @account.address do |address|%>
        <%= address.address :label => "Mailing Address" %>
        <%= address.country_select :country, ['United States', 'Canada'] %>
      <% end %>

      <%= f.submit "Update", :style => 'float: right'%>
      <% end %>
    <% end %>
  </div>
  <div id="billing_tab">
    <%= error_messages_for [:account, :billing_address, :credit_card] %>
    <% z_form_for :account, :url => {:action => 'billing'} do |f| %>
    <% f.fieldset :type => "block" do %>

      <% unless @account.needs_payment_info? %>
          <%= f.custom_field "Saved Credit Card", "#{@account.card_number} Expires #{@account.card_expiration}" %>
      <% end%>
    
    	<% z_fields_for :credit_card do |cc| %>
      	<% cc.multi_field 'Credit Card' do %>
        	<% cc.row :inline => true do %>
          	<% supported_payment_types.each do |paytype| %>
        	  <div class='credit_card_container'>
          	  <%= cc.radio_button :type, paytype.to_s, :label => '' %>
          	  <%= image_tag( "credit_cards/#{paytype}.png")%>
          	</div>
          	<% end %>
        	<% end %>
        	<div style='clear:left'></div>
        	<%= javascript_tag "jQuery('.credit_card_container').click(function() {
        	  jQuery(this).find('input').attr('checked', 'checked');
        	  jQuery('.credit_card_container.selected').removeClass('selected');
        	  jQuery(this).addClass('selected');

        	});
        	
            jQuery(function() { jQuery('.credit_card_container:first').click();});
        	" %>
        	
        	<% cc.row do %>
          	<%= cc.text_field :first_name %>          
          	<%= cc.text_field :last_name %>
        	<% end %>
        	
        	<% cc.row :inline => true do %>
        	  <%= cc.text_field :number, :maxlength => 19, :size => 30 %>          
          	
          	<%= cc.select_month :month, :prefix => 'credit_card', :label => "Expiration " %>
          	<%= cc.select_year :year, :start_year => Time.now.year, :end_year => Time.now.year + 10, :prefix => 'credit_card', :label => " Date", :style => "margin-left: 10px" %>
        	  <%= cc.text_field :verification_value, :maxlength => 7, :style => 'margin-right: 10px' %>
          	
        	<% end %>
      	<% end %>
    	<% end %>

      <% f.fields_for :billing_address_attributes, @account.billing_address do |address|%>
        <%= address.address :label => "Billing Address" %>
        <%= address.country_select :country, ['United States', 'Canada'] %>
      <% end %>

      <%= f.submit "Update", :style => 'float: right'%>
      <% end %>
    <% end %>
  </div>
  <div id="users_tab">
    
    <table id='users_table' style='width: 100%; margin: 10px'>
      <% for user in @account.users do %>
        <%= render :partial => 'user', :locals => {:user => user } %>
      <% end %>
    </table>  
      
    <div style='clear: left'></div>
    
    <div style='margin: 10px'>
      <% z_remote_form_for( :user, {:url => {:controller => 'accounts_users', :action => :add_from_email, :account_id => @account}}.merge( show_hide_spinner ) ) do |f| %>
        <% f.fieldset do %> 
          <% f.multi_field 'Add Administrator by Email' do %>
      	
            <% f.row :inline => true do %>
              <%= f.text_field :email, :label => '' %>
              <%= f.custom_field '' , f.image_submit_tag('buttons/add.png', :style => 'padding: 2px; height: 20px; width: 20px;') %>
              <%= f.custom_field '', spinner_image %>
              
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(function() {
	  $("#setting_tabs").tabs();
	  $("#setting_tabs").show();

    $("#setting_tabs").addClass('ui-tabs-vertical ui-helper-clearfix');
       $("#setting_tabs").removeClass('ui-widget').removeClass('ui-widget-content');
       $('#setting_tabs .ui-tabs-panel').addClass('ui-widget ui-widget-content');
    
    $("#setting_tabs li").removeClass('ui-corner-top');
    $("#setting_tabs li:first").addClass('ui-corner-tl');
    $("#setting_tabs li:last").addClass('ui-corner-bl');

	});
	</script>
	
	
<%= javascript_tag "  jQuery('.zInlineField:last-child').each(function() {
		jQuery(this).css('margin-right', '0px');
	});"%>
