<% unless @hostings.empty? %>
<table class='model_table' style='font-size: 90%'>
  <tr>
    <th style='width: 300px'>Name</th>
    <th >Cost</th>
    <th >Due Next</th>
    <th >Status</th>

  </tr>  
<% @hostings.each do |item| %>

  <tr class='important'>
    <td style='text-align: left'><%= link_to "#{item.product.name} (#{item.username})", item %></td>
    <td><%= number_to_currency item.product.cost %> <%= item.period_in_words %></td>
    <td><%= item.next_charge_on.to_formatted_s( :human_date ) unless item.next_charge_on.nil? %></td>
    <td><%= item.state.capitalize %></td>
  </tr>  
  <% for child in item.domains do %>
    <tr class='even'>
      <td style='text-align: left'><%= child.name %></td>
      <td><%= number_to_currency child.product.cost %> <%= child.period_in_words %></td>
      <td><%= child.next_charge_on.to_formatted_s( :human_date ) unless child.next_charge_on.nil? %></td>
      <td><%= child.state.capitalize %></td>
    </tr>
  <% end %>
  <% for child in item.add_ons do %>
    <tr class='even'>
      <td style='text-align: left'><%= child.product.name %></td>
      <td><%= number_to_currency child.product.cost %> <%= child.period_in_words %></td>
      <td><%= child.next_charge_on.to_formatted_s( :human_date ) unless child.next_charge_on.nil? %></td>
      <td><%=  %></td>
    </tr>
  <% end %>
  <tr class='blank'>
    <td colspan='5'></td>
  </tr>
<% end%>
</table>
<% end %>

<%= button "Add a Web Site", {:controller => 'green_hosting_store', :action => :index}%>
<div style='clear:left'></div>