<% unless @account.hostings.empty? %>
Hosting
<table class='model_table' style='font-size: 90%'>
  <tr>
    <th style='width: 300px'>Name</th>
    <th >Renewal Period</th>
    <th >Renewal Fee</th>
    <th >Due Next</th>
    <th >Status</th>

  </tr>  
<% @account.hostings.visible.each do |item| %>

  <tr class='<%= cycle("odd","even")%>'>
    <td style='text-align: left'><%= link_to "#{item.product.name} (#{item.username})", item %></td>
    <td><%= item.period_in_words %></td>
    <td><%= number_to_currency item.product.cost %></td>
    <td><%= item.next_charge_on.to_formatted_s :human_date unless item.next_charge_on.nil? %></td>
    <td><%= item.state.capitalize %></td>
  </tr>  
<% end%>
</table>
<% end %>

<% unless @account.domains.empty? %>
Domains
<table class='model_table' style='font-size: 90%'>
  <tr>
    <th  style='width: 300px'>Domain</th>
    <th>Renewal Period</th>
    <th>Renewal Fee</th>
    <th>Due Next</th>
    <th>Status</th>
  </tr>  
<% @account.domains.each do |item| %>
  <tr class='<%= cycle("odd","even")%>'>
    <td style='text-align: left'><%= link_to item.name, item %></td>
    <td>yearly</td>
    <td><%= number_to_currency item.product.cost %></td>
    <td></td>
    <td></td>
  </tr>  
<% end%>
</table>
<% end %>

<% unless @account.add_ons.empty? %>
Add Ons
<table class='model_table' style='font-size: 90%'>
  <tr>
    <th>Add On</th>
  </tr>  
<% @account.add_ons.each do |item| %>
  <tr class='<%= cycle("odd","even")%>'>
    <td style='text-align: left'><%= item.product.name %></td>
  </tr>  
<% end%>
</table>
<% end %>