<table class='account_table' style='font-size: 90%'>
  <tr>
    <th style='width: 25%;'>Next Payment</th>
    <th>Payment Info</th>
    <th>Balance</th>
  </tr>
  <tr class='odd'>
    <td><%= @account.last_payment_on ? @account.last_payment_on + 1.month : "never" %></td>
    <td style='text-align: left'>
      <% if @account.needs_payment_info? %>
        No credit card on file, <%= link_to "setup billing", {:action => 'billing'} %>.
      <% else %>
        Credit Card <%= @account.card_number %> <br/>
        Expires <%= @account.card_expiration %> <br/>
        <%= link_to "Update my billing information", {:action => 'billing'} %>
      <% end %>
    </td>
    <td><% if @account.balance > 0 %>
      <%= number_to_currency @account.balance %>
    <% else %>
      <%= number_to_currency -@account.balance %> due
    <% end %></td>
  </tr>
</table>

<%= link_to "Make Payment", {:action => 'pay'}%>
<% unless @account.payments.empty? %>
<table class='account_table' style='font-size: 90%'>
  <tr>
    <th style='width: 25%;'>Date</th>
    <th>Description</th>
    <th style='width: 15%;'>Amount</th>
  </tr>  
<% @account.transactions.each do |item| %>

  <tr class='<%= cycle("odd","even")%>'>
    <td><%= item.created_at.to_formatted_s :human_date %></td>
    <td style='text-align: left'>
      <%= item.description %> <%= link_to "View Order", {:action => "order", :id => item.order.id} if item.respond_to?(:order) && item.order%>
    </td>
    <td><%= number_to_currency item.amount %></td>
  </tr>  
<% end%>
</table>
<% end %>