<h3>Reoccuring Billing</h3>
<div>
  <ul>
    <li>Next payment on <%= @account.last_payment_on ? @account.last_payment_on + 1.month : "never" %></li>
    <li>Active since: <%= @account.created_at.to_formatted_s :human_date %></li>
    <li>
      Balance 
      <% if @account.balance > 0 %>
        <%= number_to_currency @account.balance %>
      <% else %>
      due <%= number_to_currency -@account.balance %>
      <% end %>
    </li>
  </ul>
</div>

<h3>Payments</h3>
<%= link_to "Make Payment", {:action => 'pay'}%>
<% unless @account.payments.empty? %>
<table class='account_table' style='font-size: 90%'>
  <tr>
    <th style='width: 25%;'>Date</th>
    <th>Description</th>
    <th style='width: 15%;'>Amount</th>
    <th style='width: 15%;'>Balance</th>
  </tr>  
<% @account.payment_history.each do |item| %>

  <tr class='<%= cycle("odd","even")%>'>
    <td><%= item.created_at.to_formatted_s :human_date %></td>
    <td style='text-align: left'><%= item.description %></td>
    <td><%= number_to_currency item.amount %></td>
    <td></td>
  </tr>  
<% end%>
</table>
<% end %>