<h1>Listing products</h1>

<table class="scaffold">
  <tr>
    <th>Name</th>
    <th>Kind</th>
    <th>Status</th>    
    <th colspan="2">&nbsp;</th>
  </tr>

<% for product in @products %>
  <tr>
    <td><%= link_to h(product.name), product %></td>
    <td><%=h product.kind %></td>
    <td><%=h product.status %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, :confirm => "Are you sure you would like to destroy the following product?\n\n#{h(product.name)} ", :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New product', new_product_path %>
