<ul class='breadcrumb'>
  <li><%= link_to 'Store', {:action => 'index'}, :class => 'root' %></li>
  <li><%= link_to_unless_current "Choose Package", :action => "choose_package" do link_to 'Choose Package', '#', :class => 'current' end %></li>
  <li><%= link_to_unless_current "Choose Domain", :action => "choose_domain" do link_to 'Choose Domain', '#', :class => 'current' end %></li>
  <li><%= link_to_unless_current "Choose Add-ons", :action => "choose_addon" do link_to 'Choose Add-ons', '#', :class => 'current' end %></li>
  <li><%= link_to_unless_current "Checkout", :action => "checkout" do link_to 'Checkout', '#', :class => 'current' end %></li>
  <li><%= link_to_unless_current "Confirmation", :action => "confirmation" do link_to 'Confirmation', '#', :class => 'current' end %></li>
</ul>