<h1>Billing</h1>

<%= error_messages_for :account, :address, :credit_card %>
<% z_form_for :account, :action => :checkout do |f| %>
  <% f.fieldset :type => "inline" do %>
  
  <% z_fields_for :credit_card do |cc|%>
  
  <% cc.multi_field "Credit Card" do%>
    <% cc.row do %>
      <%= cc.text_field :first_name%>
      <%= cc.text_field :last_name%>
    <% end %>
    <%= cc.text_field :number, :size => 20 %>
      <%= cc.select :type, [['Visa', 'visa'], ['MasterCard', 'master'], ['American Express', 'american_express']] %>
      <% cc.row do %>
        <%= cc.select :month, (1 .. 12) %>
        <%= cc.select :year, (Time.now.year .. 10.years.from_now.year) %>
      <% end %>
      <% cc.row do%>
        <%= cc.text_field :verification_value, :size => 4 %>
        <%= cc.custom_field "\t",image_tag('cvv.gif', :size => '51x31', :align => 'top') %>
      <% end %>
    <% end %>
  <% end %>
  <% z_fields_for :address do |address|%>
  <%= address.address :label => "Billing Address" %>
  <%= address.country_select :country, ['United States', 'Canada'] %>
  <% end %>
  <%= f.text_field:phone %>
  
  <%= f.submit "Continue", :style => "float: right"%>
  <% end %>
<% end %>
