
<h1>Checking out</h1>
<% if logged_in? %>
  <%= error_messages_for :account %>
  <% z_form_for :account, :html => {:style => 'padding-top: 0'} do |f| %>  
    <% f.fieldset :legend => '', :type => "inline" do %>
    
    <% if current_user.accounts.empty? %>
        <%= f.text_field :organization, :label => "Name this Account" %>
    <% else %>
    
    <%= hidden_field_tag :use_existing_account, true %>
    <div id='use_existing'>
      Pay with an existing account or <%= link_to_function "create a new account", "jQuery('#use_existing, #create_new_account').slideToggle('slow'); $('#use_existing_account').val('false');"%>
        <%= f.select :id, current_user.accounts.collect { |a| [a.organization, a.id]}, :label => "Account"%>
      
    </div>
    <div id="create_new_account" style='display:none;'>
      Create a new account for this purchase or <%= link_to_function "add it to an existing account", "jQuery('#use_existing, #create_new_account').slideToggle('slow'); $('#use_existing_account').val('true');"%>
      <% z_fields_for :account do |account| %>
        <%= account.text_field :organization, :label => "Account Name" %>
      <% end %>
    </div> 
    <% end %>
    <br/>
    <%= submit_tag "Continue", :style => 'float: right'%>
    <% end %>
  <% end %>
<% else %>  
  Create a new user account to manage your web hosting.  
  <br/>
  If you wish to add this purchase to an existing account, <%= link_to "sign in", login_url %>
  <%= error_messages_for [:user, :account] %>
  <%= javascript_tag "jQuery(function() {
    jQuery('#user_password').parent().append('<span id=\"strength\"></span>').end().bind('keydown keyup',
    function() {
      attrs = passwordStrength(jQuery(this).val(), jQuery('#user_login').val());
      jQuery('#strength').html(attrs.text).css({color: attrs.color})
    });
  });"%>
  <% z_form_for :user do |f| %>
    <% f.fieldset :legend => 'Create your Account', :type => "inline" do %>
      <% z_fields_for :account do |a| %>
        <%=  a.text_field :organization, :label => "Account Name"%>
      <% end %>
      <%= f.text_field :email %>
      <%= f.text_field :login %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation, :label => "Confirm Password" %>
      <%= f.submit "Create Account", :style => 'float: right;'%>
    <% end %>
  <% end %>
<% end %>

