
<h1>Choose any additional services</h1>

<% form_remote_for @addon, :url => { :controller => 'cart', :action => "add_addon" } do |f| -%>
  <% for addon in @addons %>
  <div class="addon">
    <div><%= h addon.name %></div>
    <div><%= sanitize addon.description, :tags => %w(a strong em), :attributes => %w(id class style)
      %></div>
    <br/>
    <%= button_to_function "Add to Cart" , "select_addon(#{addon.id})", {:class => 'button', :style => 'float: right'} %>

    <%= number_to_currency(addon.cost) %>
    <%- if addon.recurring_month == 1 -%>
      Monthly
    <%- elsif addon.recurring_month == 0 -%>
      One-Time
    <%- else -%>
      Yearly
    <%- end -%>  
    
  </div>
  
  <% end #for addon %>
  <% end  #form -%>

<%= button "Back", {:action => "choose_package"}, :style => 'float: left' %>
<%= button "Continue", {:action => "checkout"}, :style => 'float: right' %>

<script type="text/javascript" charset="utf-8">
<!--
function select_addon(addon) {
  <%= remote_function(:url => {:controller => 'cart', :action => :add_addon}, :with => "'id=' + addon"
  ) %>
}

//-->  
</script>

