<p>
You have selected the <%= @product.name %>
 <%= number_to_currency @product.cost %> <%= @product.period_in_words %>.  
<%= link_to "Change Package", {:action => 'choose_package'}%>
</p>
<p>
  Specify the domain name you will use for this package.  This is required but can be changed later.  
</p>
<div id="choose_domain">
  <ul>
    <li style='width: 319px'><%= link_to 'I have a domain name', '#use_domain' %></li>
    <li style='width: 320px'><%= link_to 'Purchase a domain name', '#purchase_domain' %></li>
  </ul>
  <div id='use_domain'>
    
    <% form_tag :controller => 'cart', :action => 'add_package', :id => @product do |f| %>

      <% select_tag :package_id, options_for_select(@packages.collect { |package| ["Web Hosting #{number_to_currency(package.cost)} #{package.period_in_words}", package.id]}, @product.id) %>

      <%= hidden_field_tag :purchased, false %> 
      
      <p>Enter your domain name (such as example.com)</p>
      
      <p><%= text_field_tag :domain, '', :size => 40, :label => "Domain", :style => 'font-size: 1em;' %></p>

      <%= submit_tag("Add To Cart",  :button => true, :style => 'float: right') %>
      <br style='clear: both/'>
    <% end -%> 
  </div>
  <div id='purchase_domain'>
    <div id='choose_domain_message'></div>
  
    <% form_tag :action => 'check_domain', :id => @product do |f| %>

      <% select_tag :package_id, options_for_select(@packages.collect { |package| ["Web Hosting #{number_to_currency(package.cost)} #{package.period_in_words}", package.id]}, @product.id) %>

      <%= hidden_field :purchased, true %> 
      <p>Check the availability of a domain name (such as example.com)</p>
      
      <p><%= text_field_tag :domain, '',:size => 40,  :label => "Domain", :style => 'font-size: 1em;' %></p>

      <%= submit_tag("Add To Cart",  :button => true, :style => 'float: right') %>
      <br style='clear: both/'>
      
    <% end -%>
  </div>
</div>
<%= javascript_tag "jQuery(function() {
  jQuery('#choose_domain').tabs();
});" %>
