<p>

You have selected the <%= @product.name %>
 <%= number_to_currency @product.cost %> <%= @product.period_in_words %>.  
<%= link_to "Change Package", {:action => 'choose_package'}%>
</p>
<p>
  Specify the domain name you will use for this web site.  
</p>
<div id="choose_domain">
  <ul>
    <li style='width: 305px'><%= link_to 'I have a domain name', '#use_domain', :style => 'width: 100%' %></li>
    <li style='width: 305px'><%= link_to 'Purchase a domain name', '#purchase_domain', :style => 'width: 100%' %></li>
  </ul>
  <div id='use_domain'>
    <% form_tag({:controller => 'cart', :action => 'add_package', :package_id => @product}) do %>

      <%= hidden_field_tag :purchased, false %> 
      
      <p>If you already have a domain name (such as example.com) enter it here.  This is required but can be changed later.  </p>
      
      <%= text_field_tag :domain, '', :size => 40, :label => "Domain", :style => 'font-size: 1em;' %>

      <%= submit_tag("Add Hosting To Cart",  :button => true, :style => 'float: right') %>
      <br style='clear: both;'>
    <% end -%> 
  </div>
  <div id='purchase_domain'>
    <div id='choose_domain_message'></div>
  
    <% form_remote_tag :url => {:action => 'check_domain', :package_id => @product} do |f| %>

      <%= hidden_field :purchased, true %> 
      <p>Check the availability of a domain name (such as example.com).  If it is available you can purchase it or search for another domain name.  </p>
      
      <%= text_field_tag :domain, '',:size => 40,  :label => "Domain", :style => 'font-size: 1em;' %>

      <%= submit_to_remote(:domain_search, "Domain Search", :url => {:action => 'check_domain', :id => @product}, :button => true, :html => {:style => 'float: right'})%>
      <br style='clear: both;'>
      
    <% end -%>
  </div>
</div>
<%= javascript_tag "jQuery(function() {
  jQuery('#choose_domain').tabs();
});" %>
