
<h1>Choose any additional services</h1>

  <% for addon in @addons %>
    <% in_cart = @cart_addons.include? addon %>
  
  <div class="addon ui-corner-all">
    <div><%= h addon.name %></div>
    <div><%= sanitize addon.description, :tags => %w(a strong em), :attributes => %w(id class style)
      %></div>
    <br/>
    
    <%= button_to_function "Add to Cart" , "select_addon(#{addon.id})", {:class => 'button', :style => "float: right; #{'display:none' if in_cart}", :id => "select_#{addon.id}"}  %>
    <%= button_to_function "Remove from Cart" , "deselect_addon(#{addon.id})", {:class => 'button', :style => "float: right; #{'display:none' unless in_cart}", :id => "deselect_#{addon.id}"} %>
    
    <%= number_to_currency(addon.cost) %>
    <%= addon.period_in_words %>  
    <br style='clear: both'/>  
  </div>
  
  <% end #for addon %>

<%= javascript_tag "
function select_addon(addon) {
  #{ remote_function(:url => {:controller => 'cart', :action => :add_addon, :package_id => @hosting.id}, :with => "'id=' + addon", :complete => "$('#select_' + addon ).hide(); $('#deselect_' + addon ).show();") }
}
function deselect_addon(addon) {
  #{ remote_function(:url => {:controller => 'cart', :action => :remove_addon, :package_id => @hosting.id}, :with => "'id=' + addon", :complete => "$('#select_' + addon ).show(); $('#deselect_' + addon ).hide();")}
} "%>
