
<h1>Choose Your Package</h1>

<% form_remote_for @package, :url => { :controller => 'cart', :action => "add_package" } do |f| -%>
  <% for package_group in @packages %>
  <% package_monthly, package_yearly = package_group %>
  <div class="package-group" >
    <div><%= h package_monthly.name %></div>
    <div><%= h package_monthly.description %></div>
    <div class="package float-left"  onclick="select_package(<%= package_monthly.id %>, this);">Monthly: 
    <%= number_to_currency(package_monthly.cost) %>
    </div>
    <div class="package float-right" onclick="select_package(<%= package_yearly.id %>, this);">Yearly:
    <%= number_to_currency(package_yearly.cost) %>
    </div>
  </div>
  <% end #for package %>
  <%= f.submit "Add to Cart", :disable_with => 'Adding to Cart...' %>
  <input name="package_id" id="package_chosen" type="hidden" value=""/>
<% end  #form -%>

<%= link_to "Continue", :action => "choose_addon" %>

<script type="text/javascript" charset="utf-8">
<!--
// $(document).ready(function(){
//   $('.package').click(function (event) {
//     alert('clicked:' + event.target);
//   });
// });

function select_package(package_id, package_div) {
  $('#package_chosen').val(package_id);
  $('.selectedPackage').removeClass("selectedPackage").addClass("package"); 
  $(package_div).removeClass('package').addClass("selectedPackage");
}

//-->  
</script>