<% if logged_in? and current_user.has_role?('Administrator') %> 
<ul id='admin_toolbar'>
  <li><%= link_to 'Users Admin', users_path %></li> 
  <li><%= link_to 'Articles Admin', admin_articles_path  %></li>
  <li><%= link_to 'Pages Admin', pages_path %></li>
  <li><%= link_to 'Redirect Admin', redirects_path %></li>
</ul>
<% end %> 


<ul id='user_toolbar'>
<% if logged_in? %> 
  <li>Logged in as: <i><%= link_to current_user.username, profile_path %></i></li> 
  <li><%= link_to 'Logout', logout_url %></li> 
<% else %> 
  <li><%#= link_to 'Signup', :controller => 'users', :action => 'new' %></li> 
  <li><%= link_to 'Login', login_path %></li> 
<% end %>
</ul>
<div style='clear: both'></div>