<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="google-site-verification" content="h8yhscuElaAyZOS96DEbyolx6DR-LSRFaQreFv0sCOE" />
	<%= page_title %> 
	<%= meta "description", meta_description %> 
	<%= meta "keywords", meta_keywords %>
	<%= stylesheet_link_tag "pagination", "users", "uni-form", "sw", 'live-search', :cache => true %>
	<!--[if lt IE 8]>
		<%= stylesheet_link_tag "ie", :cache => true %>
	<![endif]-->
	<link rel="shortcut icon" href="/favicon.ico" />
	<% # Include TinyMCE before other JS to avoid problems -%>
	<%# = yield :tinymce %>
	<%= javascript_include_tag :defaults, :cache => true %> 
  <%= javascript_include_tag 'jquery.dimensions.js','jquery.liveSearch.js', 'uni-form.jquery.js','jquery.corner.js', 'sw.js' %>
  <%= yield :head %> 
  
  <%= auto_discovery_link_tag(:rss, :controller => :articles, :action => 'index', :format => 'rss') %>
  <%= auto_discovery_link_tag(:rss, :controller => :articles, :action => 'index', :format => 'atom') %>
  
</head>
<body id="<%= controller.controller_name.to_s + "_" + controller.action_name.to_s %>">
  <div id="wrapper">
  <div id="container">
  	<div id="container-inner">
  	<div id="header">
  		<a href="/"><img src="/images/logo.gif"></a>
  		<div id="top">
  			<p id="top_login"><a href="/support">Click here for <strong>Help</strong></a></p>
  			<p id="top_twitter">We are a 100% Carbon Neutral Web Hosting Community</p>
  		</div><!--/top-->
  		<%= render :partial => 'layouts/menu' %>
  	</div><!--/header-->
  	<% if @splash_on then %>
	<div id="splash-wrap">
  	<div id="splash">
  		<ul>
  			<li id="signup"><a href="/order"></a></li>
  			<li id="learn_more"><a href="/green-web-hosting-services"></a></li>
  		</ul>
  	</div><!--/splash-->
	</div><!--/splash-wrap-->
  	<% end #if splash on %>
  	<div id="content">
  	    <%# if flash[:notice] -%> 
                    <div id="notice"><%= flash[:notice] %></div> 
                  <%# end -%> 
                  <%# if flash[:error] -%> 
                    <div id="error"><%= flash[:error] %></div> 
                  <%# end -%> 
                  <%= yield %>
  	</div><!--/content-->
  	<%= render :partial => 'layouts/sidebar' %>
  	</div>
  </div><!--/container-->
  <%= render :partial => 'layouts/footer' %>
  <div><!--/wrapper-->
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-3487613-1");
	pageTracker._setDomainName(".sustainablewebsites.com"); 
	pageTracker._setAllowLinker(true);
	pageTracker._initData();
	pageTracker._trackPageview();
	</script>
</body>
</html>
