<h1>Editing account</h1>

<% z_form_for(@account) do |f| %>
  <%= f.error_messages %>
  <%= render @account %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @account %> |
<%= link_to 'Back', accounts_path %>