<h1>Listing accounts</h1>

<% model_table( Account.all, {:fields => [:organization, 'status', '']} ) do |account| %>
  <td><%= account.organization %></td>
  <td><%= account.state %></td>
  <td><%= button 'Show', account %>
  <%= button 'Edit', edit_account_path(account) %>
  <%= button 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>

<%= button 'New Account', new_account_path %>
